{% extends 'base/dashboard.html' %} {% block sidenav %}
<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link active" href="#">Inicio <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Perfil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Asignaturas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Cerrar sesión</a>
    </li>
</ul>

{% endblock %} {% block content %}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">{{student.first_name_student}} {{student.last_name_student}} </h1>
        <h2>RUT: {{student.rut_student}} </h2>
        <h2>Telefono: {{student.phone_student}} </h2>
        <h2>Email: {{student.email_student}} </h2>
        <h2>Direccion: {{student.address_student}} </h2>
    </div>
</div>
<h1>Perfil</h1>

<section class="row text-center placeholders">
    <div class="col-6 col-sm-3 placeholder">
        <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle"
            alt="Generic placeholder thumbnail">
        <h4>Label</h4>
        <div class="text-muted">Something else</div>
    </div>
    <div class="col-6 col-sm-3 placeholder">
        <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle"
            alt="Generic placeholder thumbnail">
        <h4>Label</h4>
        <span class="text-muted">Something else</span>
    </div>
    <div class="col-6 col-sm-3 placeholder">
        <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle"
            alt="Generic placeholder thumbnail">
        <h4>Label</h4>
        <span class="text-muted">Something else</span>
    </div>
    <div class="col-6 col-sm-3 placeholder">
        <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle"
            alt="Generic placeholder thumbnail">
        <h4>Label</h4>
        <span class="text-muted">Something else</span>
    </div>
</section>
{% endblock %}