{% extends 'base/dashboard.html' %} {% block sidenav %}
<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link" href="#">Inicio</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="#">Cursos</a>
    </li>
</ul>
{% endblock %} 
{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
            <h1 class="display-3">{% asignature.name %}</h1>
            <p class="lead">{% asignature.year %}/{% asignature.semester %}</p>
            <p class="lead">{% asignature.key %}-{% asignature.parallel %}</p>
            <hr class="my-4">
        </div>
    </div> 
</div>

<div class="row">
    <div class="col-sm-12">
        <h2>Lista de alumnos</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                    <th>Telefono</th>
                    <th>Ficha</th>
                </tr>
            </thead>
            <tbody>
                {% for student in student_list %}
                <tr>
                    <th scope="row">{% student.id %}</th>
                    <td>{% student.name %}</td>
                    <td>{% student.surname %}</td>
                    <td>{% student.mail %}</td>
                    <td>{% student.phone %}</td>
                    <td>{% student.id %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}