{% extends 'base/dashboard.html' %} 
{% block sidenav %}
<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link" href="#">Inicio</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="#">Cursos</a>
    </li>
</ul>
{% endblock %} 
{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h2>Lista de asignaturas</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Sigla</th>
                    <th>Nombre</th>
                    <th>Paralelo</th>
                    <th>Año</th>
                    <th>Descripción</th>
                    <th>Ficha</th>
                </tr>
            </thead>
            <tbody>
                {% for signature in signature_list %}
                <tr>
                    <th scope="row">{{ signature.signature.key_signature}}</th>
                    <td>{{ signature.signature.name_signature }}</td>
                    <td>{{ signature.parallel }}</td>
                    <td>{{ signature.year }}</td>
                    <td>{{ signature.signature.description_signature }}</td>
                    <td><a href="/signature/{{ signature.signature.id }}">Ver ficha</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}