{% extends 'base/dashboard.html' %} 
{% block sidenav %}
<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link" href="#">Inicio</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="#">Cursos</a>
    </li>
</ul>
{% endblock %} 
{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h2>Lista de asignaturas</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Sigla</th>
                    <th>Paralelo</th>
                    <th>Año</th>
                    <th>Semestre</th>
                    <th>Nombre</th>
                    <th>Ficha</th>
                </tr>
            </thead>
            <tbody>
                {% for signature in signature_list %}
                <tr>
                    <th scope="row">{% signature.key_signature %}</th>
                    <td>{% signature.parallel %}</td>
                    <td>{% signature.year %}</td>
                    <td>{% signature.semester %}</td>
                    <td>{% signature.name_signature %}</td>
                    <td>{% signature.id %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}