{% extends 'base/dashboard.html' %} 

{% block sidenav %}
<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link active" href="/admin/dashboard">Inicio</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/courses">Cursos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/students">Estudiantes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/teachers">Profesores</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/signatures">Asignatuars</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/careers">Carreras</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/programmes">Mallas Curriculares</a>
    </li>
</ul>
{% endblock %} 

{% block content %}
<h1>Bienvenido Administrador</h1>

{% endblock %}